<div class="list-group col-lg-12">
	<div class="list-group-item list-group-heading">
		<h2><%= t("orcid_identity.profile.#{key.pluralize}.title") %></h2>
		<span class="heading-suffix"><%= t("orcid_identity.profile.heading_suffix") %></span>
	</div>

	<div class="list-group-item">
		<% entries.each do |entry| %>
			<div class="list-entry">
				<h3><%= entry["role-title"] %></h3>
				<ul>
					<li><%= "#{api_date(entry['start-date'])} - #{api_date(entry['end-date'])}" %></li>
					<li><%= entry.dig("department-name") %></li>
					<li><%= entry.dig("organization", "name") %></li>
					<li><%= api_address(entry.dig("organization", "address")) %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>

