<div class="list-group col-lg-12">
	<div class="list-group-item list-group-heading">
		<h2><%= t("orcid_identity.profile.#{key.pluralize}.title") %></h2>
		<span class="heading-suffix"><%= t("orcid_identity.profile.heading_suffix") %></span>
	</div>

	<div class="list-group-item">
		<% entries.each do |group| %>
			<% entry = group.dig("peer-review-summary").first %>

			<div class="list-entry">
				<h3><%= entry.dig("title", "title", "value") %></h3>
				<ul>
					<li><%= entry.dig('convening-organization', 'name') %></li>
					<li><%= api_date(entry['completion-date']) %></li>

					<% grant = entry.dig("external-ids", "external-id").first %>
					<li><%= "#{grant.dig('external-id-type').upcase}: #{grant.dig('external-id-value')}" %></li>

					<% url = grant.dig('external-id-url', 'value') %>
					<li><%== "URL: #{link_to url, url}" %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>

