<div class="list-group col-lg-12">
	<div class="list-group-item list-group-heading">
		<h2><%= t("orcid_identity.profile.#{key.pluralize}.title") %></h2>
		<span class="heading-suffix"><%= t("orcid_identity.profile.heading_suffix") %></span>
	</div>

	<div class="list-group-item">
		<% entries.each do |group| %>
			<% entry = group.dig("work") %>

			<div class="list-entry">
				<h3><%= api_title(entry) %></h3>
				<ul>
					<% if (creators = api_creators(entry)).present? %>
						<li>Creators: <%== creators.map { |c| link_to_if c.dig("contributor-orcid", "uri"), c.dig("credit-name", "value"), c.dig("contributor-orcid", "uri") }.join(", ") %></li>
					<% end %>

					<% if (contributors = api_contributors(entry)).present? %>
						<li>Contributors: <%== contributors.values.first.map { |c| link_to_if c.dig("contributor-orcid", "uri"), c.dig("credit-name", "value"), c.dig("contributor-orcid", "uri") }.join(", ") %></li>
					<% end %>

					<% url = entry.dig('external-id-url', 'value') %>
					<% if url.present? %>
						<li><%== "URL: #{link_to url, url}" %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
</div>

